body {
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('perfomanse.png') no-repeat center center fixed;
    background-size: cover;
    z-index: -1;
}

nav {
    background: #1e1e1e;
    padding: 15px;
    text-align: center;
    position: relative;
    z-index: 1;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    padding: 12px 20px;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: transform 0.3s ease-in-out, border-color 0.5s ease-in-out, box-shadow 0.3s ease-in-out;
}
nav ul li:nth-child(3) a:hover {
    border-color: red;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

nav ul li:nth-child(1) a:hover {
    border-color: #00bfff;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.6);
}

nav ul li:nth-child(2) a:hover {
    border-color: blue;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.6);
}

nav ul li:nth-child(4) a:hover {
    border-color: white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}
.info_, .post {
    box-shadow: 0 0 10px rgb(0, 0, 0);
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .info_ h1 {
    transition: transform 0.3s ease-in-out;
  }
  
  .info_ h1:hover{
    transform: scale(1.1);
  }
  
  .info_ h1, .post h1 {
    margin-top: 0;
    color: #ffffff;
  }
  
  .info_ p, .post p {
    color: #ffffff;
    line-height: 1.6;
  }
  footer {
    background-color: #121212;
    color: #fff;
    padding: 60px 0;
    font-family: 'Arial', sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
}

.footer-section {
    width: 250px;
    margin-bottom: 30px;
}

footer h3 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #00ffff;
}

footer p, footer li {
    font-size: 1.1rem;
    line-height: 1.8;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #00ffff;
    text-decoration: underline;
}

.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.social-icons li {
    display: flex;
    align-items: center;
}

.social-icons img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.social-icons span {
    font-size: 1.1rem;
}

.footer-bottom {
    text-align: center;

}